.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.header {
  background: none;
  box-shadow: none;
  position: relative;
  width: 100%;
  height: 41vh;
  background-image: url("/public//asset//image/shop.jpg");
}


.top-bar-inner {

  margin: 0;
  padding: 0;
}


.header .logo {
  position: absolute;
  left: 42%;
  top: 7vw;
  margin-left: -7vw;
  font-size: 4vw;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 0 20px 0 20px;
  color: #fff;
  font-family: "Rubik", "Lucida Grande", sans-serif;
  font-weight: 500;
  display: block;
  background: no-repeat center center;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.header .logo:hover {
  text-decoration: none;
  color: #efefef;
}

.header .logo:selection {
  background: #b3d4fc;
  text-shadow: none;
}

.header .nav-search-bar {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 13vw;
  float: left;
}

.header .nav-search-bar input.search-bar {
  width: 400px;
  height: 58px;
  background: #ffffff;
  padding: 20px 20px;
  margin: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  -moz-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
  color: #9aa6bc;
  border: none;
  float: left;
  border-radius: 10px;
  font-size: 14px;
  line-height: 14px;
}

.header .nav-search-bar input.search-bar:hover {
  background: #5d6371;
  color: #fff;
}

.header .nav-links {
  margin-left: 20px;
  float: left;
  overflow: hidden;
  height: 58px;
  box-sizing: border-box;
  padding: 0;
}

.header .nav-links .each-nav-link {
  color: #fff;
  font-size: 14px;
  float: left;
  padding: 20px 10px 16px 10px;
  display: block;
  border-bottom: 3px solid #272d39;
  -webkit-transition: border-color 500ms ease;
  -moz-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
  border-bottom: 3px solid #0000;
}

.header .nav-links .each-nav-link:hover {
  border-bottom: 3px solid #60bd5d;
  text-decoration: none;
  background: #3b4456;
}
